$font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$font2: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$color2: black;
$color3: darkred;
$color4: rgb(219, 142, 18);
$color1: white;